body {
 font-family: 'SF UI Display', sans-serif;
 font-size: 16px;
 line-height: 1.6;
 letter-spacing: 0.01em;
 font-weight: 400;
 color: #000000;
}

.container {
 max-width: 1190px;
 padding: 0 15px;
 margin: 0 auto;
}

.title {
 font-family: 'New York Extra Large', sans-serif;
 font-weight: 700;
 font-size: 48px;
 line-height: 1.2;
}

.link {
 display: inline-block;
 background-color: #FD665E;
 color: #FFFFFF;
 font-weight: 600;
 font-size: 14px;
 line-height: 2.8;
 padding: 8px 32px;
 border-radius: 4px;
 border: 1px solid transparent;
 transition: background-color 0.5s, color 0.5s, border 0.5s;
}

.link:hover {
 background-color: #FFFFFF;
 color:#FD665E;
 border: 1px solid #FD665E;
}

.header__top {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 24px 55px;
}

.header__menu {
 display: flex;
 align-items: center;
}

.header__logo {
 margin-right: 60px;
}

.header__list {
 display: flex;
}

.header__item:not(:last-child) {
 margin-right: 48px;
}

.header__item-link {
 font-size: 14px;
 line-height: 2.8;
 letter-spacing: 0.01em;
 transition: color 0.5s;
}

.header__item-link:hover {
 color:#FD665E;
}

.header__box-list {
 display: flex;
 align-items: center;
}

.header__box-item:not(:last-child) {
 margin-right: 16px;
}

.header__box-item:first-child {
 margin-right: 25px;
}

.header__box-link {
 padding: 4px 24px;
 font-weight: 700;
 transition: color 0.5s;
}

.header__box-link:hover {
 color: #FD665E;
}

.introductions {
 padding: 48px 0 110px;
}

.introductions__title {
 font-family: 'New York Extra Large', sans-serif;
 font-size: 112px;
 font-weight: 700;
 line-height: 1;
 max-width: 870px;
 margin-bottom: 47px;
}

.introductions__title span {
 color: #FD665E;
}

.introductions__inner {
 display: flex;
 justify-content: space-between;
}

.introductions__box {
 max-width: 298px;
 width: 100%;
 padding-top: 9px;
}

.introductions__text {
 margin-bottom: 48px;
}

.gallery {
 padding-bottom: 125px;
}

.gallery__title {
 max-width: 535px;
 width: 100%;
 text-align: center;
 margin: 0 auto 40px;
}

.gallery__box {
 display: flex;
 gap: 45px;
 flex-wrap: wrap;
 justify-content: center;
}

.gallery__link {
 cursor: -webkit-zoom-in;
 cursor: -moz-zoom-in;
 cursor: zoom-in;
}

.offers {
 padding-bottom: 125px;
}

.offers__title {
 max-width: 460px;
 width: 100%;
 margin-bottom: 40px;
}

.offers__inner {
 display: flex;
 justify-content: space-between;
}

.offers__box {
 max-width: 385px;
 width: 100%;
 padding-top: 44px;
}

.offers__item {
 position: relative;
}

.offers__item:not(:last-child) {
 margin-bottom: 48px;
}

.offers__item::before {
 position: absolute;
 content:"";
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
 left: -90px;
 top: 10px;
}

.offers__item:first-child::before {
 background-image: url("../images/icons/offers-icon-1.svg");
 width: 48px;
 height: 55px;
}

.offers__item:nth-child(2)::before {
 background-image: url("../images/icons/offers-icon-2.svg");
 width: 39px;
 height: 48px;
}

.offers__item:nth-child(3)::before {
 background-image: url("../images/icons/offers-icon-3.svg");
 width: 40px;
 height: 53px;
}

.offers__name {
 font-weight: 700;
 padding-bottom: 8px;
}

.review {
 padding-bottom: 163px;
}

.review__title {
 max-width: 410px;
 width: 100%;
 margin-bottom: 46px;
}

.review__slider {
 position: relative;
 max-width: 795px;
 width: 100%;
 margin-left: auto; 
}

.review__slider::before {
 position: absolute;
 content: "";
 background-image: url("../images/“.png");
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 width: 57px;
 height: 40px;
 left: -100px; 
}

.review__slider-item {

}

.review__text {
 font-size: 32px;
 margin-bottom: 60px;
}

.realize {
 padding-bottom: 65px;
}

.realize__inner {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.realize__box {
 max-width: 555px;
 width: 100%;
 height: 220px;
}

.realize__title {
 margin-bottom: 64px;
}

.realize__title span {
 color: #FD665E;
}

.partners {
 padding-bottom: 105px;
 border-bottom: 1px solid #F0F0F0;
} 

.partners__title {
 margin-bottom: 55px;
}

.partners__list {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.footer {
 padding: 80px 0;
}

.footer__inner {
 display: flex;
 justify-content: space-between;
}

.footer__list {
 display: flex;
}

.footer__item:not(:last-child) {
 margin-right: 48px;
}

.footer__item-link {
 transition: color 0.5s;
}

.footer__item-link:hover {
 color: #FD665E;
}